@import "set";
@import "components";
@import "header";
@import "footer";

@import "main/main-intro";
@import "main/prog-study";
@import "main/offers";
@import "main/more-center";
@import "main/advantages";
@import "main/feedback";
@import "main/reviews";
@import "main/partners";
@import "main/contacts";

@import "about/about-intro";
@import "about/boss";

body {
  background-image: url("../img/background.svg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

body.lock {
  overflow: hidden;
}

@media (min-width: 48.01em) {
  .mobile {
    display: none;
  }
}

@media (max-width: 48em) {
  .desktop {
    display: none;
  }

  body {
    background-image: url("../img/background-mob.svg");
  }
}