@import "../param";

.review-page {
  margin-bottom: 20rem;

  &__title {
    margin-bottom: 5rem;
    @include title-font;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__image-block {
    position: relative;
    flex: none;
    width: 40rem;
    height: 40rem;
    margin-right: 2rem;
  }

  &__img-box {
    width: 100%;
    height: 100%;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__img-bg {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    > img {
      width: 90%;
      height: 90%;
    }
  }

  &__text {
    font-size: 2.5rem;
    line-height: 3.8rem;
  }
}

@media (max-width: 48em) {
  .review-page {
    margin-bottom: 32rem;

    &__title {
      margin-bottom: 6rem;
    }

    &__content {
      flex-direction: column;
      align-items: normal;
    }

    &__image-block {
      width: 100%;
      height: 75rem;
      margin-right: 2rem;
    }

    &__img-box {
      position: relative;
      z-index: 3;
      width: calc(100% + 8rem);
      height: 90rem;
      margin: -10rem -4rem 0 -4rem;

      > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &__img-bg {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      > img {
        width: 90%;
        height: 90%;
      }
    }

    &__text {
      font-size: 3.4rem;
      line-height: 5.1rem;
    }
  }
}